<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />

  <node pkg="tour_guide"
        type="checkerboard_ir.py"
        name="checkerboard_ir"
        output="screen">
    <param name="image_topic" value="/camera/ir/image" />
    <param name="pattern_rows" value="7" />
    <param name="pattern_cols" value="5" />
    <param name="beep_value" value="4" />
  </node>
</launch>
